## For python3.7 tensorflow have different inner structure and logic
## For easy tests, this notebook running in python3.7 and make models from python3.7

In [1]:
import csv
import gc
import json
import pickle
import os

import pandas as pd
import numpy as np
import tensorflow as tf
import tf2onnx

## Open dataset https://www.kaggle.com/datasets/jsphyg/weather-dataset-rattle-package

In [2]:
with open('datasets/weatherAUS.csv') as f:
    reader = csv.reader(f)
    _data = list(reader)
    df = pd.DataFrame(_data[1:], columns=_data[0])

In [3]:
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NA,NA,W,44,W,...,71,22,1007.7,1007.1,8,NA,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0,NA,NA,WNW,44,NNW,...,44,25,1010.6,1007.8,NA,NA,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0,NA,NA,WSW,46,W,...,38,30,1007.6,1008.7,NA,2,21,23.2,No,No
3,2008-12-04,Albury,9.2,28,0,NA,NA,NE,24,SE,...,45,16,1017.6,1012.8,NA,NA,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1,NA,NA,W,41,ENE,...,82,33,1010.8,1006,7,8,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0,NA,NA,E,31,SE,...,51,24,1024.6,1020.3,NA,NA,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0,NA,NA,NNW,22,SE,...,56,21,1023.5,1019.1,NA,NA,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0,NA,NA,N,37,SE,...,53,24,1021,1016.8,NA,NA,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27,0,NA,NA,SE,28,SSE,...,51,24,1019.4,1016.5,3,2,15.1,26,No,No
145459,2017-06-25,Uluru,14.9,NA,0,NA,NA,NA,NA,ESE,...,62,36,1020.2,1017.9,8,8,15,20.9,No,NA

In [4]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_shape=(8,)),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])
model.compile(
    loss='binary_crossentropy', 
    optimizer='adam', 
    metrics=['accuracy']
)

In [5]:
# Берем только числовые колонки
columns = ['RainToday', 'MinTemp', 'MaxTemp', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Temp9am', 'Temp3pm']
# Убираем пустые значения
df = df[df[columns]!='NA'].dropna(subset=columns)
# Делим на X, Y
X, Y = df.loc[:, df.columns!='RainToday'], df.loc[:, df.columns=='RainToday']
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,NaN,NaN,13.4,22.9,NaN,NaN,NaN,NaN,NaN,NaN,...,71,22,1007.7,1007.1,NaN,NaN,16.9,21.8,No,NaN
1,NaN,NaN,7.4,25.1,NaN,NaN,NaN,NaN,NaN,NaN,...,44,25,1010.6,1007.8,NaN,NaN,17.2,24.3,No,NaN
2,NaN,NaN,12.9,25.7,NaN,NaN,NaN,NaN,NaN,NaN,...,38,30,1007.6,1008.7,NaN,NaN,21,23.2,No,NaN
3,NaN,NaN,9.2,28,NaN,NaN,NaN,NaN,NaN,NaN,...,45,16,1017.6,1012.8,NaN,NaN,18.1,26.5,No,NaN
4,NaN,NaN,17.5,32.3,NaN,NaN,NaN,NaN,NaN,NaN,...,82,33,1010.8,1006,NaN,NaN,17.8,29.7,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,NaN,NaN,3.5,21.8,NaN,NaN,NaN,NaN,NaN,NaN,...,59,27,1024.7,1021.2,NaN,NaN,9.4,20.9,No,NaN
145455,NaN,NaN,2.8,23.4,NaN,NaN,NaN,NaN,NaN,NaN,...,51,24,1024.6,1020.3,NaN,NaN,10.1,22.4,No,NaN
145456,NaN,NaN,3.6,25.3,NaN,NaN,NaN,NaN,NaN,NaN,...,56,21,1023.5,1019.1,NaN,NaN,10.9,24.5,No,NaN
145457,NaN,NaN,5.4,26.9,NaN,NaN,NaN,NaN,NaN,NaN,...,53,24,1021,1016.8,NaN,NaN,12.5,26.1,No,NaN
145458,NaN,NaN,7.8,27,NaN,NaN,NaN,NaN,NaN,NaN,...,51,24,1019.4,1016.5,NaN,NaN,15.1,26,No,NaN

In [6]:
# Приготовим данные, приведем X в float64, а Y в int64
X[columns[1:]] = X[columns[1:]].astype({col: float for col in columns[1:]})
Y = Y.RainToday.map(dict(Yes=1, No=0))

/Users/t.deys/.pyenv/versions/3.7.16/envs/3.7-test/lib/python3.7/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [7]:
model.fit(X[columns[1:]], Y, epochs=5)

Epoch 1/5
3918/3918 [==============================] - 6s 1ms/step - loss: 0.7267 - accuracy: 0.7558
Epoch 2/5
3918/3918 [==============================] - 5s 1ms/step - loss: 0.5572 - accuracy: 0.7775
Epoch 3/5
3918/3918 [==============================] - 5s 1ms/step - loss: 0.4832 - accuracy: 0.7907
Epoch 4/5
3918/3918 [==============================] - 5s 1ms/step - loss: 0.4440 - accuracy: 0.7993
Epoch 5/5
3918/3918 [==============================] - 5s 1ms/step - loss: 0.4182 - accuracy: 0.8077

In [8]:
model(X[columns[1:]].values)

<tf.Tensor: shape=(125347, 1), dtype=float32, numpy=
array([[0.38235638],
       [0.02211618],
       [0.06743062],
       ...,
       [0.00384678],
       [0.00444492],
       [0.01266538]], dtype=float32)>

In [9]:
model.__call__(X[columns[1:]].values)

<tf.Tensor: shape=(125347, 1), dtype=float32, numpy=
array([[0.38235638],
       [0.02211618],
       [0.06743062],
       ...,
       [0.00384678],
       [0.00444492],
       [0.01266538]], dtype=float32)>

In [10]:
model(np.array([[1., 2., 3., 4., 5., 6., 7., 8.]]))

## Сохраняем модель

In [12]:
with open("models/tensorflow-binary_cls_model37.pckl", "wb") as f:
    pickle.dump(model, f)

    
model.save("models/tensorflow-binary_cls_model37.keras")
model.save("models/tensorflow-binary_cls_model37.h5")
# model.export("models/tensorflow-binary_cls_model37.savedmodel")

INFO:tensorflow:Assets written to: ram://94cb4b1e-9f21-4a37-a739-73f8c10cf5df/assets

## Columns
* 'MinTemp'
* 'MaxTemp'
* 'Humidity9am'
* 'Humidity3pm'
* 'Pressure9am'
* 'Pressure3pm'
* 'Temp9am'
* 'Temp3pm'

Принимает на вход массив из 8 float64 числа. Выдает тензор с числом

## Requirements
* tensorflow
* pandas